<html>
  <head>
    <style>
      hr {
        border: 1px dodgerblue solid;
      }
      h1 {
        color: dodgerblue;
      }
    </style>
  </head>
  <body>
    <hr>
    <h1>Words of wisdom</h1>
    <p><b><em><%= message %></em></b></p>
    <hr>
  </body>
</html>