<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Home</h1>
    <ul>
      <li><a href="<%= B %>/view1">View1</a></li>
      <li><a href="<%= B %>/view2">View2</a></li>
      <li><a href="<%= B %>/3">AutoView</a></li>
    </ul>
  </body>
</html>