<!DOCTYPE html>
<html lang="en">
  <head>
    <title>View2</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>View2</h1>
    <h2><%= @num %></h2>
    <a href="<%= B %>/">Home</a>
    <a href="<%= B %>/view1">View1</a>
  </body>
</html>