<!DOCTYPE html>
<html lang="en">
  <head>
    <title>View1</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>View1</h1>
    <h2><%= @num %></h2>
    <ul>
      <li><a href="<%= B %>/">Home</a></li>
      <li><a href="<%= B %>/view2">View2</li>
    </ul>
  </body>
</html>